* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Mclaren';
}

header {
  display: flex;
  align-items: center;
  background-color: goldenrod;
  box-shadow: 0 0 10px #ccc;
  padding: 16px 0;
}

header h1 {
  font-family: "McLaren", cursive;
  margin-left: 30px;
  color: white;
  font-weight: 200;
}

.note {
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}
.note h1 {
  font-size: 1.1rem;
  margin-bottom: 6px;
  font-weight: 900;
}
.note p {
  font-size: .9rem;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-weight: 100;
}

footer {
  position: absolute;
  color: #ccc;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 2.5rem;
}
